/* 메뉴/로고/검색창/Lang */

.header {
     position: fixed;
     top: 0;
     left: 0;

     display: flex;
     flex: 1 1 auto;
     justify-content: space-between;
     height: 80px;
     /* 고정 값  */

     background-color: aliceblue;
     z-index: 2;
     position: relative;
}

.header .menu-bar {
     flex: 1 1 300px;

}

.header .logo {
     min-width: 150px;
     height: 100%;
     background-color: aliceblue;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     font-size: 1.5rem;
     margin-left: 1rem;
}

.header .logo a {
     text-decoration: none;
     color: black;
}

/* 검색 다국어  */
.header .right-etc {
     flex: 0 0 auto;
     display: flex;
     padding: 0 2rem 0 1rem;
     justify-content: space-around;
     min-width: 270px;
     align-items: center;
     background-color: aliceblue;
}

.header .right-etc .menu-icon {
     display: none;
}

.menu-icon:hover .dropdown-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 300px;
     gap: 2rem;
     width: 100%;
}

.header .search-bar input {
     width: 150px;
     height: 30px;
     border: none;
     border-bottom: 2px solid black;
     background: transparent;
}

.header .search-bar a i {
     transform: scale(1.5);
     margin-left: 0.5rem;
     cursor: pointer;
}

.header .lang i {
     transform: scale(1.6) translateY(-1px);
     cursor: pointer;
}

/* 검색 다국어  */

/* 메뉴 펼쳐보기  */
.dropdown {
     /* float: left; */
     overflow: hidden;
     display: flex;
     align-items: center;
     width: 100%;
     justify-content: center;
     /* padding: 0 5rem 0 5rem; */
     gap: 2rem;
     height: 100%;
     color: grey;
     font-size: 1.2rem;
     font-weight: bold;
}

.dropdown .item {
     width: 120px;
     font-size: 1.2rem;
}

.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     width: 100%;
     left: 0;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
     top: 80px;
}

.index-title {
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 1rem;
     height: 80px;
     border-bottom: 1px solid gray;
}

.index-title a {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     color: orange;
}

.index-detail {
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 1rem;
     height: 80px;
     margin-top: 1rem;
}

.index-list {
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
}

.index-list a {
     text-decoration: none;
     color: grey;
}

.dropdown:hover .dropdown-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 300px;
     gap: 2rem;
     width: 100%;
}

/* 메뉴 펼쳐보기  */

@media(max-width : 1024px) {
     .header .menu-bar {
          display: none;
     }

     .header .right-etc .menu-icon {
          display: block;
          cursor: pointer;
     }

     .header .search-bar input {
          display: none;
     }
}

@media(max-width: 750px) {
     .header .right-etc {
          min-width: 200px;
     }
}

.menu-icon {
     transform: scale(1.5);
}

.search-icon {
     margin-left: 0.5rem;
}