          .header {
               position: fixed;
               top: 0;
               left: 0;

               display: flex;
               flex: 1 1 auto;
               justify-content: space-between;
               width: 100vw;
               height: 80px;
               /* 고정 값  */

               background-color: aliceblue;
               z-index: 2;
          }

          .header .logo {
               min-width: 200px;
               height: 100%;
               background-color: aliceblue;
               display: flex;
               justify-content: center;
               align-items: center;
               font-weight: bold;
               font-size: 1.5rem;
          }

          .header .logo a {
               text-decoration: none;
               color: black;
          }

          /* 검색 다국어  */
          .header .right-etc {
               flex: 0 0 auto;
               display: flex;
               padding: 0 1rem 0 1rem;
               justify-content: space-around;
               width: 260px;
               align-items: center;
               background-color: aliceblue;
          }

          .header .right-etc .menu-icon {
               display: none;
          }

          .header .search-bar input {
               width: 150px;
               height: 30px;
          }

          .header .search-bar a i {
               transform: scale(1.5);
               margin-left: 0.5rem;
               cursor: pointer;
          }

          .header .lang i {
               transform: scale(1.6) translateY(-1px);
               cursor: pointer;
          }

          /* 검색 다국어  */

          /* 메뉴 펼쳐보기  */
          .dropdown {
               float: left;
               overflow: hidden;
               display: flex;
               align-items: center;
               /* width: 100%; */
               justify-content: center;
               padding: 0 5rem 0 5rem;
               gap: 2rem;
               height: 100%;
               color: grey;
               font-size: 1.2rem;
               font-weight: bold;
          }

          .dropdown .item {
               width: 100px;
          }

          .dropdown-content {
               display: none;
               position: absolute;
               background-color: #f9f9f9;
               width: calc(100vw + 4rem);
               box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
               z-index: 1;
               top: 80px;
               padding-left: 5rem;
          }

          .index-title {
               width: 100%;
               display: flex;
               justify-content: space-around;
               align-items: center;
               gap: 1rem;
               height: 80px;
               border-bottom: 1px solid gray;
          }

          .index-title a {
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               text-decoration: none;
               color: orange;
          }

          .index-detail {
               width: 100%;
               display: flex;
               justify-content: space-around;
               align-items: center;
               gap: 1rem;
               height: 80px;
               margin-top: 1rem;
          }

          .index-list {
               display: flex;
               flex-direction: column;
               gap: 2rem;
          }

          .index-list a {
               text-decoration: none;
               color: grey;
          }

          .dropdown:hover .dropdown-content {
               display: flex;
               flex-direction: column;
               align-items: center;
               height: 300px;
               gap: 2rem;
               width: 100%;
          }

          /* 메뉴 펼쳐보기  */

          @media(max-width : 1000px) {
               .header .menu-bar {
                    display: none;
               }

               .header .right-etc .menu-icon {
                    display: block;
               }

               .header .search-bar input {
                    display: none;
               }
          }

          .menu-icon {
               transform: scale(1.5);
          }

          .search-icon {
               margin-left: 0.5rem;
          }