.contents-tab {
     display: flex;
     justify-content: space-between;
     height: 2rem;
     width: 100%;
}

.contents-tab .card-tab {
     display: flex;
     justify-content: space-between;
}

.contents-tab .card-tab .tab-list a {
     margin: 1rem;
     flex: 0 0 100px;
     padding-bottom: 1rem;
     text-align: center;
     text-decoration: none;
     color: black;
     font-weight: 600;
}

.contents-tab .card-tab .tab-list a :checked {
     border-bottom: 5px teal solid
}

.contents-tab .card-tab .tab-list a:hover {
     border-bottom: 5px teal solid
}

.check-tab {
     margin-bottom: 2rem;
     font-size: 1.2rem;
     font-weight: bold;
}

@media(max-width : 950px) {
     .contents-tab {
          flex-direction: column-reverse;
          align-items: flex-end;
          justify-content: center;
          height: 5rem;
     }

     .contents-tab .card-tab {
          display: flex;
          width: 100%;
          justify-content: space-between;
     }

     .contents-tab .card-tab .tab-list {
          margin: 0;
     }
}