.contents-tab {
     display: flex;
     justify-content: space-between;
     height: 2rem;
     width: 100%;
}

.contents-tab .card-tab .tab-list {
     margin: 1rem;
     padding: 0.5rem;
     background-color: aliceblue;
     flex: 0 0 85px;

     text-align: center;
}

@media(max-width : 950px) {
     .contents-tab {
          flex-direction: column-reverse;
          align-items: flex-end;
          justify-content: center;
          height: 5rem;
     }

     .contents-tab .card-tab {
          display: flex;
          width: 100%;
          justify-content: space-between;
     }

     .contents-tab .card-tab .tab-list {
          margin: 0;
     }
}